.labelAndDate{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.labelAndDate label{
    width: 80px;
}
.labelAndDate input{
    width: 250px;
}
.booking-form{
    text-align: center;
}
strong{
    font-size: 20px;
}
select{
    padding: 12px;
    font-size: 16px;
    border: 1px blue solid;
    border-radius: 5px;
    width: 280px;
    margin: 0px;
}
select:focus{
    border: 2px blue solid;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 86, 210, 0.5);
}